@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css";
body{
    margin:     0;
    padding: 0;
    font-family: sans-serif;
    background: url(img01.png); 
    background-size: cover;
}
.login{
    position: absolute;
    width: 280px;
    left: 30%;
    top: 10%;
    color:white;
    
    
}
.login h1{
    
    font-size: 40px;
    border-bottom: 6px solid;
    margin-bottom: 40px;
    border-left: 6px;
    float: left;
    padding: 8px;
    border-color:tomato;
}
.textbox{
    
    width: fit-content;
    padding: 10px 0 ;
    margin:  5px 0 ;
    border-bottom: 4px solid;
    border-color:tomato;
    font-size: 20px;
    color: violet;
}

.textbox input{
    border:none;
    outline: none;
    background: none;
    color:red;
    font-size: large;
}

.btn{
    background: none;
    border: 2px solid;
    padding: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-left: 140px 0 ;
    width: 70px;
    background-color: rebeccapurple;
    
}
::placeholder{
    color:black;
    font-size: large;
    
}
