body{
    background-image: url(img.png);
    background-attachment: fixed;

}
header{
    
    border-top: 50px;
    border-bottom: 20px;

}
.main ul li{
    list-style: none;
    float: left;
    padding-right: 160px;
    background-color: brown;
    border-width: thick;
    border-radius: 20px;
    border-collapse: separate,50px;
    color: transparent;
}
.main .active{
    color: antiquewhite;
}
.images{
    display: none;
}



.main ul li:hover{
    text-transform: capitalize;
    
}

.sub-menu{
display: none;

}
.about:hover .sub-menu{
    display: block;
}
.about:hover .sub-menu ul{
    display: block;

}
.img{
    width: 80px;
    height: 80px;
}
.span{
    filter: hue-rotate(240deg);
}  
.overflow{
    overflow: scroll;
}